<div class='container'>

	<div class='row'>
		<div class='col-md-6'>
			<%= erb :'/partials/_new_assignment' %>
		</div>
		<div class='col-md-6'>
			<% case @display_option[:selected_option]
				 when "available" %>
					<%= erb :'/partials/_resource_list', {
						layout: false, 
						locals: { display_option: @display_option, 
											trucks: @planning_resources[:available][:truck],
											personnel: @planning_resources[:available][:soldier], 
											trailers: @planning_resources[:available][:trailer]
										}
					} %>
				<%when "all" %>
					<%= erb :'/partials/_resource_list', {
						layout: false, 
						locals: { display_option: @display_option, 
											trucks: @planning_resources[:full_list][:truck],
											personnel: @planning_resources[:full_list][:soldier],
											trailers: @planning_resources[:full_list][:trailer]
										}
					} %>
				<%end%>
		</div>
	</div>
		
	<div class='row'>
		<div class='col-md-12'>
			<%= erb :'/partials/_route_planning' %>
		</div>
	</div>

</div>
