<tr class='truck_input'>
  <td><input type="text" name="truck[][truck_name]" placeholder="truck"></td>
  <td><input type="text" name="truck[][driver_name]" placeholder="driver's name"></td>
  <td><input type="text" name="truck[][a_driver_name]" placeholder="A-driver's name"></td>
</tr>




