<tr class='trailer_input'>
  <td><input type="text" name="trailers[][trailer_name]" placeholder="trailer"></td>
  <td><input type="text" name="trailers[][truck_name]" placeholder="truck attached to"></td>
</tr>
