<div class="panel-body">
	<div class="form-group">
		<input type="text" name="passengers[][passenger_name]" placeholder="passenger">
		<input type="text" name="passengers[][truck_name]" placeholder="truck riding in">
	</div>
</div>
