<div class='truck_input' class='row'>
  <div class='col-xs-2.5'>
    <input type="text" name="truck[][truck_name]" placeholder="truck">
  </div>
  <div class='col-xs-2.5'>
    <input type="text" name="truck[][driver_name]" placeholder="driver's name">
  </div>
  <div class='col-xs-2.5'>
    <input type="text" name="truck[][a_driver_name]" placeholder="A-driver's name">
  </div>
  <div class='col-xs-4.5'>
  </div>
</div>




