    <tr>
      <td><input type="text" name="trucks[<%= i %>][number]" placeholder="truck"></td>
      <td><input type="text" name="trucks[<%= i %>][driver_id]" placeholder="driver"></td>
      <td><input type="text" name="trucks[<%= i %>][a_driver_id]" placeholder="A-driver"></td>
    </tr>
