<div class="panel-body">
	<div class="form-group">
		<input type="text" name="payloads[][vehicle_name]" placeholder="loaded vehicle">
		<textarea name="payloads[][payload]">Load List</textarea>
	</div>
</div>




