<div class="panel-body">
	<div class="form-group">
		<input type="text" name="trailers[][trailer_name]" placeholder="trailer">
		<input type="text" name="trailers[][truck_name]" placeholder="truck attached to">
	</div>
</div>
