<div class='container'>
  <h3>Make Assignments</h3>

  <table>
    <tr>
      <td>
        <form id='add_truck'>
          <input type="submit" value="Add Truck">
        </form>
      </td>
      <td>
        <form id='add_passenger'>
          <input type="submit" value="Add Passenger">
        </form>
      </td>
    </tr>
  </table>

  <form id='create_mission' action="/mission" method="post">

    <table id='assignment_table'>
      <tr>
        <td><input type="text" name="mission[name]" placeholder="mission" ></td>
        <td><input type="text" name="mission[unit_serviced]" placeholder="for"></td>
      </tr>
      <tr><th>Start Date</th><th>Start Time</th><th>Return Date</th><th>Return Time</th></tr>
      <tr>
        <td><input type="date" name="mission[step_off_date]"></td>
        <td><input type="time" name="mission[step_off_time]"></td>
        <td><input type="date" name="mission[return_date]"></td>
        <td><input type="time" name="mission[return_time]"></td>
      </tr>

        <%= erb :'/partials/_add_truck'%>

    </table>
    <input type="submit" value="Submit">
  </form>
  <br>

</div>
