<div class='container'>
  <div class='row'>
    <div class='col-xs-12'>
      <h3>Make Assignments</h3>
    </div>
  </div>
  <div class='row'>
    <div class='col-xs-4'>
      <input type="submit" value="Submit">
    </div>
    <div class='col-xs-2'>
      <form id='add_truck'>
        <input type="submit" value="Add Truck">
      </form>
    </div>
    <div class='col-xs-2'>
      <form id='add_passenger'>
        <input type="submit" value="Add Passenger">
      </form>
    </div>
    <div class='col-xs-2'>
      <form id='add_trailer'>
        <input type="submit" value="Add Trailer">
      </form>
    </div>
    <div class='col-xs-2'>
      <form id='add_payload'>
        <input type="submit" value="Add Payload">
      </form>
    </div>
  </div> <!-- closes button row -->

  <form id='create_mission' action="/mission" method="post">

    <!-- <div id='assignment_table' class='container'> -->
      <div class='row'>
        <div class='col-xs-4'>
          <h5>Mission Type</h5>
        </div>
        <div class='col-xs-4'>
          <h5>Unit Serviced</h5>
        </div>
      </div>
      <div class='row'>
        <div class='col-xs-4'>
          <input type="text" name="mission[name]" placeholder="mission" >
        </div>
        <div class='col-xs-4'>
          <input type="text" name="mission[unit_serviced]" placeholder="for">
        </div>
      </div>
      <div class='row'>
        <div class='col-xs-3'>
          <h5>Start Date</h5>
        </div>
        <div class='col-xs-3'>
          <h5>Start Time</h5>
        </div>
        <div class='col-xs-3'>
          <h5>Return Date</h5>
        </div>
        <div class='col-xs-3'>
          <h5>Return Time</h5>
        </div>
      </div>
      <div class='row'>
        <div class='col-xs-3'>
          <input type="date" name="mission[step_off_date]">
        </div>
        <div class='col-xs-3'>
          <input type="time" name="mission[step_off_time]">
        </div>
        <div class='col-xs-3'>
          <input type="date" name="mission[return_date]">
        </div>
        <div class='col-xs-3'>
          <input type="time" name="mission[return_time]">
        </div>
      </div>
      <div id='assignment_table'>
        <%= erb :'/partials/_add_truck'%>
      </div>
  </form>
</div>
