<div class="container">
  <h1>landing page</h1>
  <p>Hello, world!</p>
  <p>this will eventually display avaliable resources</p>

<a href='/mission/new'>plan new mission</a>
<br>
<a href=''>dispatch mode( #unimplemented)</a>

</div>
