<div class="container">

  <div class='jumbotron'>
		<div class='panel panel-default'>

			<div class='panel-heading'>
				The Mission
			</div>

		  <% if @missions.length == 0 %>
		  	<div class='panel-body'>
		  		<h5>Awaiting Orders</h5>
	  		</div>
	  	<%else%>
	  		<% @missions.each do |mission| %>
	  			<div class='panel-body'>
	  			<% if mission.completed %>
	  				<p><del>
	  					<%= "#{mission.show_out_datetime} - #{mission.name} #{mission.unit_serviced}" %>
	  				</del></p>
	  			<% elsif mission.initiated %>
	  				<p class='text-success'>
	  					<%= "#{mission.show_out_datetime} - #{mission.name} #{mission.unit_serviced}" %>
	  				</p>
	  			<%else%>
	  				<p>
	  					<%= "#{mission.show_out_datetime} - #{mission.name} #{mission.unit_serviced}" %>
	  				</p>
	  			<%end%>
	  			</div>
	  		<%end%>
  		<%end%>
  	</div>
  </div>

</div>

